.nomeLivro{
    text-align: center;
}

.autorLivro{
    text-align: center;
}

.edicaoLivro{
    text-align: center;
}

.paginasLivro{
    text-align: center;
}

.editoraLivro{
    text-align: center;
}

.generoLivro{
    text-align: left;
}

.subgGeneroLivro{
    text-align: left;
}

.tituloEncadernacao{
    text-align: left;
}

.encadernacaoLivro{
    text-align: left;
}

.tituloData{
    text-align: left;
}

.dataLivro{
    text-align: center;
}
ion-datetime{
    color: rgb(22, 10, 39);
}