<ion-header style="background-color: #c0a8e7; padding-top: 10px" >
  <ion-toolbar>
    <ion-title style="background-color: #c0a8e7; color: white">
      <ion-icon name="library-outline" style="zoom: 1.5"></ion-icon>
      Livraria
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div
    class="conteudo"
    style="
      background-color: white;
      border-radius: 15px 15px 0px 0px;
      padding-top: 10px;
    "
  >
    <ion-text class="ion-text-center">
    </ion-text>
    <ion-list style="background-color: white; border-radius: 50px 50px 0px 0px">
      <ion-item-sliding *ngFor="let livro of livros">
        <ion-card style="background-color: white">
          <ion-item>
            <ion-avatar style="zoom:1.2">
              <img src="{{livro.downloadURL}}" />
            </ion-avatar>
            <ion-label class="ion-padding-start">{{livro.nome}}</ion-label>
          </ion-item>
        </ion-card>
        <ion-item-options side="end">
          <ion-item-option (click)="irParaDetalhar(livro)">
            <ion-icon name="create-outline"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="irParaCadastrar()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
